<a href="https://colab.research.google.com/github/rishabhsoni-ai/Brainy-Beam-Task/blob/main/Task3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK 3 :- Create a custom numpy data type and use it in an array.

In [2]:
import numpy as np
student_dtype = np.dtype([
    ('name', 'U20'),
    ('age', 'i4'),
    ('marks', 'f4')
])


students = np.array([
    ("Rishabh", 21, 88.5),
    ("Anita", 22, 92.0),
    ("Vikas", 20, 79.5)
], dtype=student_dtype)

print("Structured NumPy Array:")
print(students, "\n")


print("Names:", students['name'])
print("Ages:", students['age'])
print("Marks:", students['marks'], "\n")


avg_marks = students['marks'].mean()
print("Average Marks:", avg_marks)

top_students = students[students['marks'] > 85]
print("Top Students:", top_students, "\n")


address_dtype = np.dtype([
    ('city', 'U20'),
    ('pincode', 'i4')
])

employee_dtype = np.dtype([
    ('id', 'i4'),
    ('name', 'U20'),
    ('salary', 'f4'),
    ('address', address_dtype)
])

employees = np.array([
    (1, "Amit", 55000, ("Delhi", 110001)),
    (2, "Priya", 60000, ("Mumbai", 400001))
], dtype=employee_dtype)

print("Employees with Nested dtype:")
print(employees, "\n")
print("Employee Cities:", employees['address']['city'])

Structured NumPy Array:
[('Rishabh', 21, 88.5) ('Anita', 22, 92. ) ('Vikas', 20, 79.5)]

Names: ['Rishabh' 'Anita' 'Vikas']
Ages: [21 22 20]
Marks: [88.5 92.  79.5]

Average Marks: 86.666664
Top Students: [('Rishabh', 21, 88.5) ('Anita', 22, 92. )]

Employees with Nested dtype:
[(1, 'Amit', 55000., ('Delhi', 110001))
 (2, 'Priya', 60000., ('Mumbai', 400001))]

Employee Cities: ['Delhi' 'Mumbai']