<a href="https://colab.research.google.com/github/rishabhsoni-ai/Brainy-Beam-Task/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK 1 :- Use pandas' pivot and pivot_table functions to perform advanced data reshaping operations.

In [1]:
import pandas as pd

data = {
    "date": ["2025-01-01","2025-01-01","2025-01-02","2025-01-02"],
    "city": ["Delhi","Mumbai","Delhi","Mumbai"],
    "temperature": [20, 25, 21, 26],
    "humidity": [30, 40, 35, 45],
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df, "\n")

pivoted = df.pivot(index="date", columns="city", values="temperature")
print("Pivoted (Temperature by City):")
print(pivoted, "\n")

pivoted_multi = df.pivot(index="date", columns="city", values=["temperature","humidity"])
print("Pivoted with Multiple Values:")
print(pivoted_multi, "\n")

data2 = {
    "date": ["2025-01-01","2025-01-01","2025-01-01","2025-01-02"],
    "city": ["Delhi","Delhi","Mumbai","Mumbai"],
    "temperature": [20, 22, 25, 26],
    "humidity": [30, 32, 40, 45],
}
df2 = pd.DataFrame(data2)

print("DataFrame with Duplicates:")
print(df2, "\n")

pivot_tbl = df2.pivot_table(
    index="date",
    columns="city",
    values="temperature",
    aggfunc="mean"
)
print("Pivot Table (Mean Temperature):")
print(pivot_tbl, "\n")

pivot_tbl2 = df2.pivot_table(
    index="date",
    columns="city",
    values="temperature",
    aggfunc=["mean","max","min"]
)
print("Pivot Table (Mean, Max, Min):")
print(pivot_tbl2, "\n")

pivot_tbl3 = df2.pivot_table(
    index="date",
    columns="city",
    values="temperature",
    aggfunc="mean",
    fill_value=0
)
print("Pivot Table (Fill Missing with 0):")
print(pivot_tbl3, "\n")


melted = df.melt(id_vars=["date"], value_vars=["temperature","humidity"], var_name="Measurement", value_name="Value")
print("Melted (Unpivoted) DataFrame:")
print(melted)

Original DataFrame:
         date    city  temperature  humidity
0  2025-01-01   Delhi           20        30
1  2025-01-01  Mumbai           25        40
2  2025-01-02   Delhi           21        35
3  2025-01-02  Mumbai           26        45

Pivoted (Temperature by City):
city        Delhi  Mumbai
date
2025-01-01     20      25
2025-01-02     21      26

Pivoted with Multiple Values:
           temperature        humidity
city             Delhi Mumbai    Delhi Mumbai
date
2025-01-01          20     25       30     40
2025-01-02          21     26       35     45

DataFrame with Duplicates:
         date    city  temperature  humidity
0  2025-01-01   Delhi           20        30
1  2025-01-01   Delhi           22        32
2  2025-01-01  Mumbai           25        40
3  2025-01-02  Mumbai           26        45

Pivot Table (Mean Temperature):
city        Delhi  Mumbai
date
2025-01-01   21.0    25.0
2025-01-02    NaN    26.0

Pivot Table (Mean, Max, Min):
            mean          max          min
city       Delhi Mumbai Delhi Mumbai Delhi Mumbai
date
2025-01-01  21.0   25.0  22.0   25.0  20.0   25.0
2025-01-02   NaN   26.0   NaN   26.0   NaN   26.0

Pivot Table (Fill Missing with 0):
city        Delhi  Mumbai
date
2025-01-01   21.0    25.0
2025-01-02    0.0    26.0

Melted (Unpivoted) DataFrame:
         date  Measurement  Value
0  2025-01-01  temperature     20
1  2025-01-01  temperature     25
2  2025-01-02  temperature     21
3  2025-01-02  temperature     26
4  2025-01-01     humidity     30
5  2025-01-01     humidity     40
6  2025-01-02     humidity     35
7  2025-01-02     humidity     45